


body {
    padding-top: 54px;
    background-repeat: url("C:\UR\Bootstrap-Portfolio\images\concrete_seamless.png")
/*    background-repeat: repeat-y; */ 
  }

@media (min-width: 992px) {

    body {
      padding-top: 56px;
         }
            }
  
.portfolio-item {
    margin-bottom: 30px;
  }
.pagination {
    margin-bottom: 30px;
  }

.img-fluid {
    max-width: 100%;
    height: auto;
}

.portfolio-item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}